@import url(fonts.css);

:root{
    --cor1:#f2f2f2ea;
    --cor2:#d9d9d9c2;
    --cor3:#232226;
    --cor4:#575659;
    --cor5:#727171;
    --fonte-padrao:"Noto Sans Display", sans-serif;
    --fonte-destaque:"Rubik Mono One", monospace ;
    --fonte-titulo:"Bebas Neue", sans-serif;
    --fonte-titulo-2:"New Amsterdam", sans-serif;
    --fonte-numeros:"Nanum Gothic", sans-serif;
    --fonte-titulos-tabelas:"Cinzel", serif;
}

body{
    background-image: url(imagens/pexels-photo-5381657.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*{
    padding: 0%;
    margin: 0%;
}

main{
    background-color: rgba(255, 255, 255, 0.842);
    max-width: 950px;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

main a{
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541);
    font-weight: normal;
    color:rgba(255, 255, 255, 0.904);
    background-color: #32343565;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
    transition-duration: 0.5s;
}

main img{
   width: 100%;
   max-height: 600px;
   margin-bottom: 20px;
   display: block;
}

a.externos:after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor5), var(--cor4) );
    padding-top: 40px;
    min-height: 100px;
    width: 100%;
}

header > #titulo-principal{
    text-align: center;
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.829) ;
    font-size: 1.4em;
    margin-bottom: 3px;
    font-weight: normal;
}

header > #sub-titulo-principal{
    color: rgba(255, 255, 255, 0.685);
    font-family:var(--fonte-padrao);
    font-size: 13px;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.479) ;
}

nav{
    background-color: var(--cor4);
    padding-bottom: 10px;
    text-align: center;
}

nav > a{
    font-weight: normal;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    margin-right: 10px;
    transition-duration: 0.5s;
    font-size: 12px;
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.829) ;
    padding: 5px;
}

nav > a:hover{
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) ;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.24);
}

aside{
    background-color:#f2f2f2ea;
    width: 100%;
    text-align: left;
}

#nada{
    background-color:#f2f2f2ea;
    width: 100%;
}

.icones{
    border-radius: 50px;
    transition-duration: 0.5s;
    margin-top: 5px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    border: 1px solid rgba(255, 255, 255, 0.596);
}

aside a{
    text-decoration: none;
}

.icones:hover{
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 7px black;
}

.sessão-normal{
    background-color: rgba(39, 39, 39, 0.616);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#sessão-dentro-normal{
    background-color: rgba(39, 39, 39, 0.733);
    border-radius: 7px;
    border: 1px solid black;
}

.sessão-fora-normal{
    background-color: rgba(65, 65, 65, 0.411);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#sessao-sobre-declinio{
    background-color: #B2B2B2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

#titulo-mudanças-desafios{
    background-image: url(imagens/pexels-photo-5381657.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 15px;
    margin: -19px -10px 0px -10px;
    border-radius: 3px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.829);
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 2px;
}

#titulo-criações-na-parceria{
    background-image: url(imagens/pexels-photo-5381657.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 15px;
    margin: -19px -10px 0px -10px;
    border-radius: 3px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-shadow: 3px 3px 0px rgb(0, 0, 0);
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 2px;
}

#titulo-nokia-1520{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 1.2em;
    margin-left: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.712);
    font-weight: normal;
    background-image: linear-gradient(to right, #4b4b4b, transparent);
    padding: 15px;
    margin-left: -10px;
    margin-bottom: 25px;
}

#titulo-nokia-1020{
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    margin-left: -10px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.712);
    background-image: linear-gradient(to right, #4b4b4b, transparent);
    padding: 15px;
    color: white;
}

#titulo-nokia-900{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 1.2em;
    margin-left: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.712);
    font-weight: normal;
    background-image: linear-gradient(to right, #4b4b4b, transparent);
    padding: 15px;
    margin-left: -10px;
    margin-top: -30px;
    margin-bottom: 25px;
}

#titulo-declinio-nokia{
    padding: 10px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    color: white;
    font-family: var(--fonte-titulo);
    font-weight: normal;
    letter-spacing: 5px;
    text-align: center;
    font-size: 1.8em;
    background-image: url(imagens/pexels-photo-5381657.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;
    border-radius: 5px;
}

.img-fn{
    border-radius: 5px;
}

#primeiro-titulo-h1{
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 1.5em;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    color: #ffffff;
    margin-left: 30px;
    padding: 5px;
    letter-spacing: 3px;
}

#segundo-titulo-h2{
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 1.5em;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    color: #ffffff;
    padding: 5px;
    letter-spacing: 1px;
    text-align: center ;
}

#terceiro-titulo-h2{
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 1.5em;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    padding: 5px;
    letter-spacing: 2px;
}

#nokia-1011-titulo{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
    font-size: 1.4em;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    padding-top: 7px;
    padding-bottom: 5px;
}

.paragrafos{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.712);
    font-weight: normal;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.425);
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

#paragrafo-mudanças-desafios-primeiro{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    font-weight: normal;
    padding: 5px;
    color: rgb(0, 0, 0);
}

#paragrafo-mudanças-desafios-segundo{
    margin-top: -15px;
    margin-bottom: 40px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    font-weight: normal;
    padding: 5px;
    color: rgb(0, 0, 0);
}

#paragrafo-criações-parceria-primeiro{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    font-weight: normal;
    padding: 5px;
    color: rgb(0, 0, 0);
}

#paragrafo-cirações-na-parceria-segundo{
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    font-weight: normal;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.paragrafo-nokia-lumia-900{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    font-weight: normal;
    padding: 5px;
    color: rgb(0, 0, 0);
    margin-top: -15px;
    margin-bottom: 10px;
}

.paragrafo-nokia-lumia-1020{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    font-weight: normal;
    padding: 5px;
    color: rgb(0, 0, 0);
    margin-top: -15px;
    margin-bottom: 10px;
}

.paragrafo-nokia-lumia-1520{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    font-weight: normal;
    padding: 5px;
    color: rgb(0, 0, 0);
    margin-top: -15px;
    margin-bottom: 10px;
}

.paragrafo-declinio-nokia{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.2em;
    font-family:var(--fonte-padrao);
    font-weight: normal;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    margin-top: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#paragrafo-declinio-da-nokia{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.2em;
    font-family:var(--fonte-padrao);
    font-weight: normal;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    text-shadow:1px 1px 0px rgba(255, 255, 255, 0.479) ;
    margin-top:-20px ;
    border-radius: 5px;
    margin-bottom: 10px;
}

.paragrafo-descrição-nokia-1011{
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-family:var(--fonte-padrao);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.712);
    font-weight: normal;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-left:10px ;
    padding-right: 10px;
}

strong{
    font-weight: bold;
}

abbr{
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    line-height: 30px;
}

article{
    background-color:#696969 ;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274);
    margin-top: 15px;
    border: 1px solid black;
}

article > h3{
    background-color: #313131;
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 6px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.815);
    letter-spacing: 1px;
    font-size: 1.2em;
}

#paragrafo-article{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.582);
    line-height: 1.8em;
    font-family: var(--fonte-padrao);
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 1px;
    font-size: 1.1em;
}

article > ul{
    list-style-position: inside;
    columns: 2;
    color: rgba(255, 255, 255, 0.884);
    margin-top: 10px;
    font-family: var(--fonte-padrao);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.712);
    font-size: 1.2em;
}

#titulo-tabela-declinio{
    font-family: var(--fonte-titulo-2);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.822);
    font-weight: normal;
    background-color: #ffffff56;
    letter-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, 0.603);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    padding: 10px;
}

table{
    max-width: 700px;
    min-width: 300px;
    border-collapse: collapse;
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.514);
}

.div-table{
    overflow-x: auto;
}

tbody tr:nth-child(even){
    background-color:#000000;
}

tbody tr:nth-child(odd){
    background-color:#4d4d4d;
}

td, th{
    border: 2px solid rgba(255, 255, 255, 0.164);
    padding: 20x;
}

thead{
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.3em;
}

thead > tr > th{
    position: sticky;
    top: -2px;
    background-color: #000000;
} 

#Descrição{
    font-family:var(--fonte-titulos-tabelas);
    letter-spacing: 1px;
}

#ano{
    padding: 20px;
    letter-spacing: 1px;
    font-family: var(--fonte-titulos-tabelas);
}

.numeros{
    text-align: center;
    font-family: var(--fonte-numeros);
    color: white;
    font-weight: normal;
    font-size: 1.1em;
}

.texto-descrição{
    font-family: var(--fonte-padrao);
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#tabela-dois{
    max-width: 900px;
    min-width: 300px;
    border-collapse: collapse;
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.514);
}

#corpo-tabela-dois tr:nth-child(even){
    background-color:#212121;
}

#corpo-tabela-dois tr:nth-child(odd){
    background-color:#212121c2;
}

#titulo-tabela-após-declinio{
    font-family: var(--fonte-titulo-2);
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    font-weight: normal;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 40px;
    margin-bottom: 15px;
    background-color: #ffffff56;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.603);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

#thead-tabela-dois{
    color: rgb(255, 255, 255);
    background-color: #303030;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.3em;
}

.th-tabela-dois{
    background-color: #000000;
    border: 0.5px solid rgba(56, 56, 56, 0.87);
    font-family: var(--fonte-titulos-tabelas);
    letter-spacing: 1px;
}

#ano-tabela-dois{
    padding: 20px;
    letter-spacing: 1px;
    font-family: var(--fonte-titulos-tabelas);
}

.numeros-tabela-dois{
    border: 2px solid rgba(255, 255, 255, 0.164);
    padding: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.986);
    font-family: var(--fonte-numeros);
    font-weight: normal;
    text-align: justify;
}

.modelo-tabela-dois{
    border: 2px solid rgba(255, 255, 255, 0.164);
    padding: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.986);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-align: justify;
    transition-duration: 0.5s;
}

.modelo-tabela-dois:hover{
    color: rgba(0, 132, 255, 0.747);
    text-shadow: 0px 0px 0px rgb(0, 0, 0);
}

.Descrição-tabela-dois{
    border: 2px solid rgba(255, 255, 255, 0.164);
    padding: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.986);
    font-family: var(--fonte-padrao);
    font-weight: normal;
    text-align: left;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    padding: 10px;
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
}

#icone-githube{
    border-radius: 50px;
    transition-duration: 0.4s;
    margin-top: 5px;
    margin-bottom: -5px;
    box-sizing: border-box;
    border: 1px solid white;
}

#icone-githube:hover{
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 7px rgb(255, 255, 255);
}

