@charset "UTF-8 "; @import url(fonts.css);

:root{
    --cor1:#f2f2f2ea;
    --cor2:#d9d9d9c2;
    --cor3:#232226;
    --cor4:#575659;
    --cor5:#727171;
    --fonte-padrao:"Noto Sans Display", sans-serif;
    --fonte-destaque:"Rubik Mono One", monospace ;
    --fonte-titulo:"Bebas Neue", sans-serif;
    --fonte-titulo-2:"New Amsterdam", sans-serif;
    --fonte-numeros:"Nanum Gothic", sans-serif;
    --fonte-titulos-tabelas:"Cinzel", serif;
}

@media print {
    *{
        padding: 30px;
        margin:10px;
    }
    
    html{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
        line-height: 1.5em;
    }
    
    header > #titulo-principal{
        font-size: 2em;
        text-align: center;
    }
    
    header > #sub-titulo-principal{
        font-size: 1.5em;
        margin-top: -60px;
    }
    
    div#nada{
        display: none;
    }
    
    aside{
        display: none;
    }
    
    nav{
        display: none;
    }
    
    .paragrafos > a{
        color: black;
        font-weight: bolder;
        text-decoration: none;
    }
    
    .sessão-fora-normal > #paragrafo-mudanças-desafios > a{
        text-decoration: none;
        font-weight: bolder;
        color: black;
    }
    
    .sessão-fora-normal > #paragrafo-mudanças-desafioss > a{
        text-decoration: none;
        font-weight: bolder;
        color: black;
    }
    
    .sessão-fora-normal > #paragrafo-criações-parceria > a{
        text-decoration: none;
        font-weight: bolder;
        color: black;
    }
    
    .sessão-fora-normal > #paragrafo-2-criações-parceria > a{
        text-decoration: none;
        font-weight: bolder;
        color: black;
    }
    
    .sessão-fora-normal > #paragrafo-nokia-lumia-900 > a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
    
    .sessão-fora-normal > #paragrafo-nokia-lumia-1020 > a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
    
    .sessão-fora-normal > #paragrafo-nokia-lumia-1520 > a{
        text-decoration: none;
        font-weight: bolder;
        color: black;
    }
    
    #paragrafo-declinio-nokia > a{
        color: black;
        font-weight: bolder;
        text-decoration: none;
    }
    
    #paragrafo-declinio-da-nokia > a{
        color: black;
        font-weight: bolder;
        text-decoration: none;
    }
    
    abbr{
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
    
    strong{
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
    
    #sessão-dentro-normal{
        display: none;
    }
    
    article{
        display: none;
    }
    
    footer > a{
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:768px){
    header > #titulo-principal{
        font-size: 2em;
    }

    header > #sub-titulo-principal{
        font-size: 18px;
    }

    nav > a{
        font-size: 14px;
    }

    .sessão-normal > #primeiro-titulo-h1{
        font-size: 2.4em;
    }

    .sessão-normal > #segundo-titulo-h2{
        font-size: 2.2em;
    }

    .sessão-normal > #terceiro-titulo-h2{
        font-size: 2em;
    }

    .sessão-normal > .paragrafos{
        padding: 15px;
        line-height: 2em;
        font-size: 1.3em;
    }

    #sessão-dentro-normal > #nokia-1011-titulo{
        font-size: 2.2em;
    }

    #sessão-dentro-normal > .paragrafo-descrição-nokia-1011{
        line-height: 1.9em;
        font-size: 1.2em;
    }

    article > h3{
        font-size: 1.3em;
    }

    article > #paragrafo-article{
        font-size: 19px;
    }

    article > ul{
        line-height: 2em;
    }

    li > abbr{
        font-size: 20px;
    }

    .sessão-fora-normal > #titulo-mudanças-desafios{
        font-size: 1.7em;
    }

    .sessão-fora-normal > #paragrafo-mudanças-desafios-primeiro{
        font-size: 1.2em;
        line-height: 2em;
    }

    .sessão-fora-normal > #paragrafo-mudanças-desafios-segundo{
        font-size: 1.1em;
        line-height: 2em;
    }

    .sessão-fora-normal > #titulo-criações-na-parceria{
        font-size: 1.9em;
    }

    .sessão-fora-normal > #paragrafo-criações-parceria-primeiro{
        font-size: 1.1em;
        line-height: 2em;
    }

    .sessão-fora-normal > #paragrafo-cirações-na-parceria-segundo{
        font-size: 1.1em;
        line-height: 2em;
    }

    .sessão-fora-normal > #titulo-nokia-900{
        font-size: 1.8em;
    }

     .paragrafo-nokia-lumia-900{
        font-size: 1.2em;
        line-height: 2em;
    }

    .sessão-fora-normal > #titulo-nokia-1020{
        font-size: 1.8em;
    }

    .paragrafo-nokia-lumia-1020{
        font-size: 1.2em;
        line-height: 2em;
    }

    .sessão-fora-normal > #titulo-nokia-1520{
        font-size: 1.8em;
    }

    .paragrafo-nokia-lumia-1520{
        font-size: 1.2em;
        line-height: 2em;
    }

    #sessao-sobre-declinio > #titulo-declinio-nokia{
        font-size: 2.5em;
        letter-spacing: 5px;
    }

    .paragrafo-declinio-nokia{
        font-size: 1.1em;
        line-height: 2em;
    }

    #titulo-tabela-declinio{
        font-size: 2.5em;
    }

    #titulo-tabela-após-declinio{
        font-size: 2em;
    }

    footer{
        font-size: 20px;
        letter-spacing: 3px;
    }

}

@media screen and (min-width:769px) and (max-width:1400px){

    aside{
        text-align: center;
    }

    .icones{
       margin: 20px;

    }

    header > #titulo-principal{
        font-size: 3em;
        letter-spacing: 0px;
    }

    header > #sub-titulo-principal{
        font-size: 1.4em;
        margin-top: -5px;
    }

    nav {
        padding: 20px;
    }

    nav > a{
        font-size: 1em;
        margin: 20px;
    }

    nav > a:hover{
        background-color: #3c4444;
        border-radius: 10px;
        color: #000000;
        text-shadow: 1px 1px 2px white;
        letter-spacing: 2px;
        padding: 5px;
    }

    main a:hover{
        color: #000000;
        background-color: #4e4e4e;
        text-shadow:none;
        box-shadow: 5px 5px 7px black;
    }

    .sessão-normal > #primeiro-titulo-h1{
        font-size: 2.8em;
    }

    #segundo-titulo-h2{
        font-size: 2.8em;
    }

    #terceiro-titulo-h2{
        font-size: 2.8em;
    }

    .sessão-normal > .paragrafos{
        line-height: 1.8em;
        padding: 20px;
        font-size: 1.5em;
    }

    abbr:hover{
        color: rgb(0, 0, 0);
        text-shadow: none;
    }

    #sessão-dentro-normal > #nokia-1011-titulo{
        font-size: 2.4em;
    }

    #sessão-dentro-normal > .paragrafo-descrição-nokia-1011{
        line-height: 1.8em;
        font-size: 1.5em;
    }

    article{
        padding: 20px;
    }

    article > h3{
        font-size: 1.6em;
        margin-left: -20px;
        margin-top: -20px;
        margin-right: -20px;
    }

    article > #paragrafo-article{
        color: rgb(255, 255, 255);
        font-size: 23px;
        text-indent: -11px;
    }

    article > ul{
        line-height: 2;
    }

    li > abbr{
        font-size: 24px;
    }

    .sessão-fora-normal{
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 3px;
        padding-right: 3px;
    }

    #titulo-mudanças-desafios{
        font-size: 2.2em;
        margin-left: -3px;
        margin-right: -3px;
    }

    #paragrafo-mudanças-desafios-primeiro{
        font-size: 1.4em;
    }

    #paragrafo-mudanças-desafios-segundo{
        font-size: 1.4em;
    }

    #titulo-criações-na-parceria{
        font-size: 2.2em;
        margin-left: -3px;
        margin-right: -3px;
    }

    #paragrafo-criações-parceria-primeiro{
        font-size: 1.4em;
    }

    #paragrafo-cirações-na-parceria-segundo{
        font-size: 1.4em;
    }

    #titulo-nokia-900{
        font-size: 2em;
        margin-right: -3px;
        margin-left: -3px;
    }

    .paragrafo-nokia-lumia-900{
        font-size: 1.4em;
    }

    #titulo-nokia-1020{
        font-size: 2em;
        margin-left: -3px;
        margin-right: -3px;
    }

    .paragrafo-nokia-lumia-1020{
        font-size: 1.4em;
    }

    #titulo-nokia-1520{
        font-size: 2em;
        margin-left: -3px;
        margin-right: -3px;
    }

    .paragrafo-nokia-lumia-1520{
        font-size: 1.4em;
    }

    #sessao-sobre-declinio{
        margin-left: -20px;
        margin-right:-20px ;
        margin-top: -10px;
    }

    #sessao-sobre-declinio > #titulo-declinio-nokia{
        font-size: 3em;
        letter-spacing: 10px;
    }

    .paragrafo-declinio-nokia{
        font-size: 1.4em;
    }

    #titulo-tabela-declinio{
        font-size: 3em;
        border: none;
        padding: 20px;
    }

    table{
        width: 1000px;
        margin-left: -10px;
    }

    .texto-descrição{
        padding: 15px;
        font-size: 20px;
        line-height: 1.7em;
    }

    #div-table-1{
        margin-top: -25px;
    }

    #div-table-2{
        margin-top: -15px;
    }

    #titulo-tabela-após-declinio{
        font-size: 2.5em;
        border: none;
        padding: 15px;
    }

    footer{
        padding: 20px;
        font-size: 1.5em;
        font-family: var(--fonte-padrao);
        letter-spacing: 2px;
    }

    #icone-githube:hover{
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 7px rgb(255, 255, 255);
    }

}